.account {
    width: 800px;
    height: 680px;
    margin-bottom: 60px;
}

.account-title {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1);
    margin-bottom: 16px;
}

.account-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.account-search-input {
    width: 85%;
    height: 40px;
    border-radius: 4px;
}

.account-search-button {
    background-color: var(--blue);
    margin-left: 20px;
    width: 10%;
    border-radius: 4px;
}

.account-table {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.account-table th {
    border: 1px solid var(--white);
    background-color: var(--blue);
    padding: 8px 0;
}

.account-table td {
    border: 1px solid var(--white);
    padding: 8px 0;
    text-align: center;
    color: var(--white);
}
