.user {
    width: 800px;
    margin-bottom: 360px;
}

.user-title {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1);
    margin-bottom: 16px;
}

.user-title span {
    font-size: 20px;
    color: var(--blue);
    font-family: var(--font-1);
    margin-right: 8px;
}

.user-info-container {
    margin-bottom: 40px;
}

.user-info-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.user-info-table th {
    background-color: var(--blue);
    width: 200px;
    border: 1px solid var(--white);
    padding: 4px 0;
}

.user-info-table td {
    color: var(--white);
    padding-left: 16px;
    border: 1px solid var(--white);
}

.user-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.user-search-input {
    box-sizing: border-box;
    width: 85%;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
}

.user-search-button {
    background-color: var(--blue);
    margin-left: 20px;
    width: 10%;
    border-radius: 16px;
}

.user-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-pagination-button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    margin: 60px;
    font-family: var(--font-1);
}
