.topbar {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 40px;
}

.topbar-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-width: 0 0 6px 0;
    border-style: solid;
    border-color: var(--blue);
}

.topbar-title {
    font-family: var(--font-1);
    color: var(--blue);
    font-size: 20px;
}

.topbar-menu-wrapper {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: left;
    list-style: none;
    color: var(--white);
}

.topbar-menu {
    margin: 0 40px;
}

.topbar-menu.active {
    color: var(--blue);
}
