.search {
    width: 800px;
    height: 72vh;
}

.search-title {
    display: flex;
    font-family: var(--font-1);
    font-size: 20px;
    margin-bottom: 16px;
    color: var(--white);
    align-items: end;
}

.search-title p {
    margin-left: 16px;
}

.search-input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
}

.search-list {
    font-family: var(--font-1);
    color: var(--blue);
    margin-top: 40px;
    border: 1px solid var(--white);
    display: flex;
    flex-wrap: wrap;
    gap: 4px; /* 각 항목 사이의 간격을 조정 */
}

.search-list-item {
    color: var(--white);
}

.search-pagination {
    display: flex;
    justify-content: center;
}

.search-pagination-button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-family: var(--font-1);
    margin-top: 200px;
}
.search {
    width: 800px;
    margin-bottom: 360px;
}

.search-title {
    font-family: var(--font-1);
    font-size: 20px;
    margin-bottom: 16px;
    color: var(--white);
}

.search-input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
}

.search-pagination {
    display: flex;
    justify-content: center;
}

.search-pagination-button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-family: var(--font-1);
    margin-top: 200px;
}
