.view {
    color: var(--white);
}

.view-date {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.view-author {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#title {
    font-family: var(--font-1);
    font-size: 16px;
    margin-right: 40px;
}

.view-title {
    margin: 20px 0;
}

.view-title-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 32px;
    border-radius: 4px;
    padding: 0 16px;
    color: var(--black);
    margin-top: 16px;
    margin-bottom: 40px;
}

.view-content-content {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 4px;
    padding: 16px;
    color: var(--black);
    margin-top: 16px;
    margin-bottom: 40px;
}

.view-content {
    margin: 20px 0;
}

.view-pagination {
    display: flex;
    justify-content: center;
}

.view-pagination-button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    margin: 60px;
    font-family: var(--font-1);
}
